name: Validate integration

on:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  hassfest:
    name: Hassfest
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v5
      - uses: home-assistant/actions/hassfest@master
  hacs:
    name: HACS Action
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v5
      - name: HACS Action
        uses: hacs/action@main
        with:
          ignore: brands
          category: integration
